// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Custom colors;
$confirmed: #EE0A0A;
$deaths: #000;
$recovered: #10cb10;
$active: #055EF6;
$summary-dark: #292729;
$link-blue: #1e92de;
$link-hover-blue: #00c;
$link-hover-background: #c3c33a;

// Media queries

$small: 576px;
$medium: 768px;
$large: 992px;
