.no-data {
    text-align: center;
    font-size: 20pt;
    margin-top: 10px;
    text-transform: uppercase;
}

.cases-loading {
    margin-top: 20px;
    text-align: center;
    font-size: 20pt;
}

.cases-diagrams {
    .interval-filter {
        margin-top: 10px;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 0 5px;

        div {
            &:last-child {
                @media screen and (min-width: $medium) {
                    margin-left: 10px;
                }
            }

            input {
                text-align: center;
            }
        }
    }

    canvas {
        max-width: 70%;
        margin: 0 auto;
        @media screen and (max-width: $medium) {
            max-width: 95%;
            box-sizing: border-box;
        }
    }

    margin: 10px 0;
}

.diagram-title {
    text-align: center;
    margin: 10px 0;
    font-size: 28pt;
    @media screen and (max-width: $medium) {
        font-size: 24pt;
    }
    @media screen and (max-width: $small) {
        font-size: 18pt;
    }
}
