#app {
    margin: 0 auto;
}

.center {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px 0;
    width: 80%;
    box-sizing: border-box;
    @media screen and (max-width: $medium) {
        width: 100%;
        padding: 0;
    }
}

.loader {
    margin: 0 auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 0.5s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        border-top: 16px solid rgba(253, 0, 0, 0.2);
    }
    100% {
        transform: rotate(360deg);
        border-top: 16px solid rgb(52, 152, 219, 0.6);
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
