.summary-empty {
    text-align: center;
    font-size: 20pt;
}

.summary-title, .summary-global {
    background-color: $summary-dark;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.summary-title {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 50pt;
    padding: 10px 0;
    line-height: 1.5;
    margin-bottom: 0;
    @media screen and (max-width: $medium) {
        line-height: 1.2;
        font-size: 8vw;
    }
}

.global-last-updated {
    background-color: $summary-dark;
    color: #fff;
    margin: 5px auto;
    padding: 5px 20px;
    font-size: 8pt;
}

.summary-global {
    padding: 50px 0;
    margin-bottom: 20px;
    @media screen and (max-width: $medium) {
        margin-bottom: 10px;
        padding: 10px 0 0;
    }

    .summary-category {
        display: inline-flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 40%;
        @media screen and (max-width: $medium) {
            width: 100%;
        }

        &:nth-child(even) {
            @media screen and (max-width: $medium) {
                border-bottom: 3px solid black;
                &:not(:last-child) {
                    margin-bottom: 5px;
                }
            }
        }

        &:nth-child(-n+2) {
            .summary-category-title {
                background-color: $confirmed;
            }
        }

        &:nth-child(-n+4):nth-child(n+3) {
            .summary-category-title {
                background-color: $deaths;
            }
        }

        &:nth-child(-n+6):nth-child(n+5) {
            .summary-category-title {
                background-color: $recovered;
            }
        }

        .summary-category-title {
            font-size: 25pt;
            padding: 5px;
            margin: 0 5px;
            border: 3px solid #fff;
            @media screen and (max-width: $medium) {
                font-size: 14pt;
                border-radius: 5px;
                padding: 2px;
            }
        }

        .summary-global-cases {
            font-size: 22pt;
            margin: 10px 0;
            @media screen and (max-width: $medium) {
                font-size: 12pt;
                margin: 0;
            }
        }
    }
}

.summary-data {
    .summary-panel {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 0 10px;
        @media screen and (max-width: $medium) {
            align-items: flex-start;
        }

        .region-filter {
            ul {
                font-weight: bold;
                padding: 0 0 5px;
                font-size: 9pt;
                margin: 0;
                @media screen and (max-width: $medium) {
                    font-size: 7pt;
                    display: flex;
                    flex-wrap: wrap;
                }

                li {
                    display: inline;
                    padding: 10px 5px;
                    @media screen and (max-width: $medium) {
                        padding: 5px;
                    }

                    .selected-region {
                        background-color: rgba(231, 176, 147, 0.3) !important;
                        cursor: context-menu;
                    }

                    a {
                        display: inline-block;
                        box-sizing: border-box;
                        padding: 3px 10px;
                        @media screen and (max-width: $medium) {
                            padding: 0 5px;
                        }
                        border-radius: 5px;
                        border: 1px solid transparent;

                        &:hover {
                            background-color: rgba(162, 142, 239, 0.1);
                            text-decoration: none;
                            color: #3490dc;
                        }
                    }
                }

                &:last-child {
                    margin-top: 10px;
                    padding-top: 5px;
                    border-top: 1px solid black;
                    @media screen and (max-width: $medium) {
                        margin-top: 0;
                    }
                }
            }
        }

        .summary-search {
            margin-bottom: 10px;

            input {
                border: 1px solid $summary-dark;
                @media screen and (max-width: $medium) {
                    display: block;
                    height: 20px;
                }
            }
        }
    }

    .field {
        color: $summary-dark;

        &:hover {
            text-decoration: none;
        }
    }

    .sort-link {
        color: $link-blue;

        &:hover {
            cursor: pointer;
        }

        .sort-icon {
            display: block;
        }
    }

    .country-cases-link {
        font-size: 14pt;
        color: $link-blue;

        &:hover, &:focus {
            color: $link-hover-blue;
            background-color: $link-hover-background;
        }

        @media screen and (max-width: $medium) {
            font-size: 12pt;
        }
    }

    .no-data {
        margin-top: 30px;
        height: 100vh;
        font-size: 33pt;
        text-align: center;
        @media screen and (max-width: $medium) {
            font-size: 12pt;
            height: 30vh;
        }
    }
}
