.summary-empty {
    text-align: center;
    font-size: 20pt;
}

.summary-title, .summary-global {
    background-color: $summary-dark;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.summary-title {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 50pt;
    padding: 10px 0;
    @media screen and (max-width: $medium) {
        font-size: 40pt;
    }
}

.global-last-updated {
    background-color: $summary-dark;
    color: #fff;
    margin: 5px auto;
    padding: 5px 20px;
    font-size: 8pt;
}

.summary-global {
    padding: 50px 0;
    margin-bottom: 20px;
    @media screen and (max-width: $medium) {
        margin-bottom: 10px;
        padding: 10px 0 0;
    }

    .summary-category {
        display: inline-flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 40%;
        @media screen and (max-width: $medium) {
            width: 100%;
        }

        &:nth-child(-n+2) {
            .summary-category-title {
                background-color: $confirmed;
            }
        }

        &:nth-child(-n+4):nth-child(n+3) {
            .summary-category-title {
                background-color: $deaths;
            }
        }

        &:nth-child(-n+6):nth-child(n+5) {
            .summary-category-title {
                background-color: $recovered;
            }
        }

        .summary-category-title {
            font-size: 25pt;
            padding: 5px;
            margin: 0 5px;
            border: 3px solid #fff;
            @media screen and (max-width: $medium) {
                font-size: 18pt;
                border-radius: 5px;
                padding: 10px 0;
            }
        }

        .summary-global-cases {
            font-size: 22pt;
            margin: 10px 0;
            @media screen and (max-width: $medium) {
                font-size: 18pt;
            }
        }
    }
}

.summary-data {
    .region-filter {
        ul {
            font-weight: bold;
            padding: 0;
            font-size: 9pt;
            @media screen and (max-width: $medium) {
                font-size: 7pt;
                display: flex;
                flex-wrap: wrap;
            }

            li {
                display: inline;
                padding: 15px;
                @media screen and (max-width: $medium) {
                    padding: 5px;
                }

                .selected-region {
                    border: 1px solid black;
                    background-color: rgba(231, 176, 147, 0.3) !important;
                    cursor: context-menu;
                }

                a {
                    display: inline-block;
                    box-sizing: border-box;
                    padding: 10px;
                    @media screen and (max-width: $medium) {
                        padding: 5px;
                    }
                    border-radius: 5px;
                    border: 1px solid transparent;

                    &:hover {
                        background-color: rgba(162, 142, 239, 0.1);
                        text-decoration: none;
                        color: #3490dc;
                    }
                }
            }

            &:last-child {
                @media screen and (max-width: $medium) {
                    border-top: 1px solid black;
                }

                li {
                    @media screen and (min-width: $medium) {
                        border-top: 1px solid black;
                    }
                }
            }
        }
    }

    .sort-link {
        display: block;
        color: $link-blue;

        &:hover {
            text-decoration: none;
        }
    }

    .country-cases-link {
        font-size: 14pt;
        color: $link-blue;

        &:hover, &:focus {
            color: $link-hover-blue;
            background-color: $link-hover-background;
        }

        @media screen and (max-width: $medium) {
            font-size: 12pt;
        }
    }

    .no-countries {
        margin-top: 30px;
        height: 100vh;
        font-size: 33pt;
        text-align: center;
        @media screen and (max-width: $medium) {
            font-size: 12pt;
            height: 30vh;
        }
    }
}
