.table-wrapper {
    overflow-x: auto;
    transform:rotateX(180deg);

    .table, th, tr, td {
        border: 3px solid black;
    }

    .table {
        transform:rotateX(180deg);
        font-weight: 400;
        font-size: 10pt;
        font-family: 'Sora', sans-serif;

        th, td {
            padding: 3px;
            text-align: center;
            vertical-align: middle;
        }

        th {
            text-transform: uppercase;
            font-size: 1.1vw;
            @media screen and (max-width: $medium) {
                font-size: 2vw;
            }
            @media screen and (max-width: $small) {
                font-size: 3.2vw;
            }
        }

        tr {
            &:nth-child(even) {
                color: #fff;
                background-color: #484545;
            }
        }
    }
}
