.table-wrapper {
    min-height: 100vh;
    @media screen and (max-width: $small) {
        overflow-x: auto;
    }

    .table, th, tr, td {
        border: 3px solid black;
    }

    .table {
        font-weight: 500;
        font-size: 10pt;
        font-family: Tahoma, Verdana, Segoe, sans-serif;

        th, td {
            padding: 3px;
            text-align: center;
            vertical-align: middle;
        }

        th {
            font-size: 1.4vw;
            @media screen and (max-width: $medium) {
                font-size: 2vw;
            }
            @media screen and (max-width: $small) {
                font-size: 3.2vw;
            }
        }

        tr {
            &:nth-child(even) {
                color: #fff;
                background-color: #484545;
            }
        }
    }
}
